accessfiles/HOUSEHOLD_STATUS_CODES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:od="urn:schemas-microsoft-com:officedata" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="dataroot">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="HOUSEHOLD_STATUS_CODES" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="generated" type="xsd:dateTime"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HOUSEHOLD_STATUS_CODES">
        <xsd:annotation>
            <xsd:appinfo>
                <od:index index-name="c_household_status_code" index-key="c_household_status_code " primary="no" unique="no" clustered="no" order="asc"/>
                <od:index index-name="PrimaryKey" index-key="c_household_status_code " primary="yes" unique="yes" clustered="no" order="asc"/>
                <od:tableProperty name="GUID" type="9" value="6NVU9trggUCSUEMf1DI8fw== "/>
                <od:tableProperty name="Orientation" type="2" value="0"/>
                <od:tableProperty name="OrderByOn" type="1" value="0"/>
                <od:tableProperty name="NameMap" type="11" value="CswOVQAAAADo1VT22uCBQJJQQx/UMjx/AAAAAMOnnIguP+RAAAAAAAAAAABIAE8A VQBTAEUASABPAEwARABfAFMAVABBAFQAVQBTAF8AQwBPAEQARQBTAAAAAAAAAGbK 8+wVLBFHpJR1SAXI+mYHAAAA6NVU9trggUCSUEMf1DI8f2MAXwBoAG8AdQBzAGUA aABvAGwAZABfAHMAdABhAHQAdQBzAF8AYwBvAGQAZQAAAAAAAADpiGxZc6EvQYzX Yhy0JsarBwAAAOjVVPba4IFAklBDH9QyPH9jAF8AaABvAHUAcwBlAGgAbwBsAGQA XwBzAHQAYQB0AHUAcwBfAGQAZQBzAGMAAAAAAAAAUMvW04lKfEWLj6D7NUeiIgcA AADo1VT22uCBQJJQQx/UMjx/YwBfAGgAbwB1AHMAZQBoAG8AbABkAF8AcwB0AGEA dAB1AHMAXwBkAGUAcwBjAF8AYwBoAG4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwA AAAFAAAAAAAAAAAAAAAAAAAAAAA= "/>
                <od:tableProperty name="DefaultView" type="2" value="2"/>
                <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
                <od:tableProperty name="TotalsRow" type="1" value="0"/>
                <od:tableProperty name="FilterOnLoad" type="1" value="0"/>
                <od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
                <od:tableProperty name="HideNewField" type="1" value="0"/>
                <od:tableProperty name="BackTint" type="6" value="100"/>
                <od:tableProperty name="BackShade" type="6" value="100"/>
                <od:tableProperty name="ThemeFontIndex" type="4" value="-1"/>
                <od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="-1"/>
                <od:tableProperty name="AlternateBackTint" type="6" value="100"/>
                <od:tableProperty name="AlternateBackShade" type="6" value="100"/>
                <od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="-1"/>
                <od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="-1"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="c_household_status_code" minOccurs="0" od:jetType="integer" od:sqlSType="smallint" type="xsd:short">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <od:fieldProperty name="GUID" type="9" value="Zsrz7BUsEUeklHVIBcj6Zg== "/>
                            <od:fieldProperty name="ColumnWidth" type="3" value="2865"/>
                            <od:fieldProperty name="ColumnOrder" type="3" value="1"/>
                            <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
                            <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
                            <od:fieldProperty name="Required" type="1" value="0"/>
                            <od:fieldProperty name="DisplayControl" type="3" value="109"/>
                            <od:fieldProperty name="TextAlign" type="2" value="0"/>
                            <od:fieldProperty name="AggregateType" type="4" value="-1"/>
                            <od:fieldProperty name="ResultType" type="2" value="0"/>
                            <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="c_household_status_desc" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <od:fieldProperty name="GUID" type="9" value="6YhsWXOhL0GM12IctCbGqw== "/>
                            <od:fieldProperty name="ColumnWidth" type="3" value="2940"/>
                            <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
                            <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
                            <od:fieldProperty name="Required" type="1" value="0"/>
                            <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
                            <od:fieldProperty name="DisplayControl" type="3" value="109"/>
                            <od:fieldProperty name="IMEMode" type="2" value="0"/>
                            <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
                            <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
                            <od:fieldProperty name="TextAlign" type="2" value="0"/>
                            <od:fieldProperty name="AggregateType" type="4" value="-1"/>
                            <od:fieldProperty name="ResultType" type="2" value="0"/>
                            <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="c_household_status_desc_chn" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <od:fieldProperty name="GUID" type="9" value="UMvW04lKfEWLj6D7NUeiIg== "/>
                            <od:fieldProperty name="ColumnWidth" type="3" value="3195"/>
                            <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
                            <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
                            <od:fieldProperty name="Required" type="1" value="0"/>
                            <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
                            <od:fieldProperty name="DisplayControl" type="3" value="109"/>
                            <od:fieldProperty name="IMEMode" type="2" value="0"/>
                            <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
                            <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
                            <od:fieldProperty name="TextAlign" type="2" value="0"/>
                            <od:fieldProperty name="AggregateType" type="4" value="-1"/>
                            <od:fieldProperty name="ResultType" type="2" value="0"/>
                            <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>